%h1 Projects

.table-responsive
  %table.table.table-bordered
    %tbody
      %tr
        %th Project Name
        %th Total Project Size
      - @projects.each do |project|
        %tr{class: 'project-row', id: "#{dom_id(project)}"}
          %td.name
            = link_to project.name, project_path(project)
          %td.total-size= project.total_size
