%h1 Projects

.table-responsive
  %table.table.table-bordered
    %tbody
      %tr
        %th Project Name
        %th Total Project Size
      - @projects.each do |project|
        %tr
          %td= project.name
          %td= project.total_size
